[submodule "Submodules/AMReX"]
	path = Submodules/AMReX
	url = https://github.com/AMReX-Codes/amrex.git
[submodule "Submodules/doxygen-awesome-css"]
	path = Submodules/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
