plt*
chk*
tmp_build_dir
Backtrace*
*.ex
*.visit
.DS_Store
Docs/sphinx/doxygen
html/
doctrees/
*.ipynb
.ccls-cache

Build/CMakeCache.txt
Build/CMakeDoxyfile.in
Build/CMakeDoxygenDefaults.cmake
Build/CMakeFiles/
Build/CTestCustom.cmake
Build/CTestTestfile.cmake
Build/DartConfiguration.tcl
Build/Docs
Build/Makefile
Build/SpadesConfig.cmake
Build/Source/
Build/Submodules/
Build/Tests/
Build/Testing/
Build/cmake_install.cmake
Build/spades
Build/spades_obj/
Build/clang-tidy*.txt
Build/data.csv
compile_commands.json